body {
  background-color: rgb(59, 64, 69);
}

h1 {
  color: rgb(0, 0, 0);
  font-size: 26px;
  font-family: cursive;
  text-transform: uppercase;
  font-style: oblique;
}

h2 {
  color: rgb(250, 235, 26);
  font-size: 40px;
  font-family: sans-serif;
  text-transform: uppercase;
  font-style: italic;
}

h3 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-transform: none;
  font-style: normal;
}

li {
  color: rgb(191, 188, 188);
  font-size: 20px;
  font-family: sans-serif;
  text-transform: initial;
  font-style: italic;
}

div#header_right {
  background-image: url("themes/Java_Hero__1_.webp");
  background-position: 450px center;
  background-repeat: no-repeat;
}

nav {
  inline-size: 10%;
  float: left;
}
nav a {
  background-color: #32a598;
  border-radius: 14px 0 10px 0;
  color: #fff;
  margin: 10px;
  padding: 10px;
  text-shadow: #4361ee;
  font: oblique bold 90% cursive;
  text-decoration: none;
  display: block;
}

td {
  background-color: #ffffff;
}

